.payDateWrapper {
  display: flex;
  justify-content: center;
  margin: auto 0;
  border: 1px solid blue;
  width: 100%;
  height: 50%;
  .payDateHeader {
    text-align: center;
  }
  .payDateDate {
    font-size: 3vmax;
    font-weight: bolder;
  }
  .payDateDaysLeft {
    text-align: center;
    font-size: 2vmax;
  }
}
